@model LPLProject.Models.Employee

@{
    ViewBag.Title = "Update Password";
}
<style>
/*.jumbotron text-center tex { background: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"); }
    .text-capitalize text-danger {
        grid-area: 2 / 1 / 2 / 3;
        align-self: center;
        justify-self: center;
        color: white;
        text-transform: uppercase;
        font-size: 4rem;
        text-shadow: 0px 2px 4px rgba(0,0,0,.4);
        margin-top: -5rem;
    }*/
.jumbotron { background: url("https://image.freepik.com/free-photo/texture-old-heavily-used-black-dark-gray-slate-chalk-board_346278-443.jpg"); }
    .text-capitalize {
        grid-area: 2 / 1 / 2 / 3;
        align-self: center;
        justify-self: center;
        color: white;
        text-transform: uppercase;
        font-size: 4rem;
        text-shadow: 0px 2px 4px rgba(0,0,0,.4);
        margin-top: -5rem;
    }
    .text-success{
        color:deeppink;
    }
</style>
<div class="jumbotron text-center tex">
    <h2 class="text-capitalize text-danger">Edit Employee Information</h2>
    <p class="text-success"><u>Please check your details and then update your password. </u></p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.emp_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.emp_ID, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.emp_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.first_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.first_Name, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.first_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.last_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.last_Name, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.last_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<center>
    @Html.ActionLink("Add Task", "add_task_project", "Home", null, htmlAttributes: new { @class = "btn btn-danger btn-lg" })
</center>

<div>
    @Html.ActionLink("Back to List", "user_after_login")
</div>
